<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UserRepositoryType" value="ServiceDataLib.SqlUserRepository, ServiceDataLib"/>
  </appSettings>


  <connectionStrings>
    <add name="UsersEntities" connectionString="metadata=res://*/Database.UserModel.csdl|res://*/Database.UserModel.ssdl|res://*/Database.UserModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=New_Users;integrated security=True;pooling=False;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />   
  </connectionStrings>
</configuration>